---
---
* { box-sizing: border-box; }

body {
  background-color: #eaeaea;
  color: #444;

  font-family: 'Athiti', sans-serif;
  margin: 2em;
}

header {
  display: flex;
  align-items: flex-end;
}

.page-title {
  padding: 1em;
  display: flex;
  align-items: center;
}

.page-title .text {
  font-size: 1.5em;
  margin-left: 0.5em;
}

.page-title a {
  border-radius: 10px;
  overflow: hidden;
  height: 64px;
}

nav {
  margin-left: 2em;
  width: 100%;
  height: 100%;
  padding: 1em;
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: #444;
  background: #fff;

  font-weight: bold;
  padding: 0.5em;
  border-top: 3px solid #555;
  text-decoration: none;
  width: 5em;
  text-align: center;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

nav a:hover {
  color: #af0358;
  border-color: #af0358;
}

nav a.current {
  background: #af0358;
  border-color: #af0358;
  color: #fff;
}

nav a.current:hover {
  border-color: #fff;
}

a {
  color: #af0358;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  background: #fff;
  width: 500px;
  margin: 1em;
}

.refrom, .caption, .post p {
  padding: 0.4em 1em;
}

.refrom a {
  color: #666;
}

.post blockquote p {
  padding: 0;
}

.permalink {
  float: right;
}

.permalink:before {
  content: '';
  float: right;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent #ccc transparent transparent;
}

.post-bottom {
  display: flex;
  padding: 1em;
}

.tags {
  width: 100%;
}

.tags a {
  color: #666;
  font-size: 0.9em;
  text-decoration: none;
  white-space: nowrap;
}

.actions {
  display: flex;
}

.actions .like_button {
  margin-right: 1em;
}

.tumblr_blog {
  color: #666;
}

h1, h2, h3, h4 {
  padding-left: 1em;
  font-weight: normal;
}

.post.chat li {
  list-style-type: none;
  font-family: 'Ubuntu Mono', monospace;
}

.post.chat li .label {
  font-weight: bold;
}
