---
layout: blogtemplate
---

{block:Posts}
	{block:Text}
		<div class="post text">
			<a class="permalink" href="{Permalink}"></a>
			{block:RebloggedFrom}
				<div class="refrom">
					<a href="{ReblogParentURL}">via {ReblogParentName}</a>
					<a class="flright" href="{ReblogRootURL}">from {ReblogRootName}</a>
				</div>
			{/block:RebloggedFrom}
			{block:Title}
				<h1>{Title}</h1>
			{/block:Title}{Body}
			<div class="post-bottom">
				<div class="tags">
					{block:Tags}<a href="{TagURL}">#{Tag}</a>{/block:Tags}
				</div>
				<div class="actions">
					{LikeButton color="grey"}
					{ReblogButton color="grey"}
				</div>
			</div>
		</div>
	{/block:Text}{block:Photo}
		<div class="post photo">
			<a class="permalink" href="{Permalink}"></a>
			{block:RebloggedFrom}
				<div class="refrom">
					<a href="{ReblogParentURL}">via {ReblogParentName}</a>
					<a class="flright" href="{ReblogRootURL}">from {ReblogRootName}</a>
				</div>
			{/block:RebloggedFrom}
			<img src="{PhotoURL-500}" alt="{PhotoAlt}"/>

			{block:Caption}
				<div class="caption">{Caption}</div>
			{/block:Caption}
			<div class="post-bottom">
				<div class="tags">
					{block:Tags}<a href="{TagURL}">#{Tag}</a>{/block:Tags}
				</div>
				<div class="actions">
					{LikeButton color="grey"}
					{ReblogButton color="grey"}
				</div>
			</div>
		</div>
	{/block:Photo}{block:Panorama}
		<div class="post panorama">
			<a class="permalink" href="{Permalink}"></a>
			{block:RebloggedFrom}
				<div class="refrom">
					<a href="{ReblogParentURL}">via {ReblogParentName}</a>
					<a class="flright" href="{ReblogRootURL}">from {ReblogRootName}</a>
				</div>
			{/block:RebloggedFrom}
			{LinkOpenTag}
				<img src="{PhotoURL-Panorama}" alt="{PhotoAlt}"/>
			{LinkCloseTag}{block:Caption}
				<div class="caption">{Caption}</div>
			{/block:Caption}
			<div class="post-bottom">
				<div class="tags">
					{block:Tags}<a href="{TagURL}">#{Tag}</a>{/block:Tags}
				</div>
				<div class="actions">
					{LikeButton color="grey"}
					{ReblogButton color="grey"}
				</div>
			</div>
		</div>
	{/block:Panorama}{block:Photoset}
		<div class="post photoset">
			<a class="permalink" href="{Permalink}"></a>
			{block:RebloggedFrom}
				<div class="refrom">
					<a href="{ReblogParentURL}">via {ReblogParentName}</a>
					<a class="flright" href="{ReblogRootURL}">from {ReblogRootName}</a>
				</div>
			{/block:RebloggedFrom}
			{Photoset-500}{block:Caption}
				<div class="caption">{Caption}</div>
			{/block:Caption}
			<div class="post-bottom">
				<div class="tags">
					{block:Tags}<a href="{TagURL}">#{Tag}</a>{/block:Tags}
				</div>
				<div class="actions">
					{LikeButton color="grey"}
					{ReblogButton color="grey"}
				</div>
			</div>
		</div>
	{/block:Photoset}{block:Quote}
		<div class="post quote">
			<a class="permalink" href="{Permalink}"></a>
			{block:RebloggedFrom}
				<div class="refrom">
					<a href="{ReblogParentURL}">via {ReblogParentName}</a>
					<a class="flright" href="{ReblogRootURL}">from {ReblogRootName}</a>
				</div>
			{/block:RebloggedFrom}
			"{Quote}"

			{block:Source}
				<div class="source">{Source}</div>
			{/block:Source}
			<div class="post-bottom">
				<div class="tags">

					{block:Tags}<a href="{TagURL}">#{Tag}</a>{/block:Tags}
				</div>
				<div class="actions">
					{LikeButton color="grey"}
					{ReblogButton color="grey"}
				</div>
			</div>
		</div>
	{/block:Quote}{block:Link}
		<div class="post link">
			<a class="permalink" href="{Permalink}"></a>
			{block:RebloggedFrom}
				<div class="refrom">
					<a href="{ReblogParentURL}">via {ReblogParentName}</a>
					<a class="flright" href="{ReblogRootURL}">from {ReblogRootName}</a>
				</div>
			{/block:RebloggedFrom}
			<a href="{URL}" class="link" {Target}>{Name}</a>

			{block:Description}
				<div class="description">{Description}</div>
			{/block:Description}
			<div class="post-bottom">
				<div class="tags">

					{block:Tags}<a href="{TagURL}">#{Tag}</a>{/block:Tags}
				</div>
				<div class="actions">
					{LikeButton color="grey"}
					{ReblogButton color="grey"}
				</div>
			</div>
		</div>
	{/block:Link}{block:Chat}
		<div class="post chat">
			<a class="permalink" href="{Permalink}"></a>
			{block:RebloggedFrom}
				<div class="refrom">
					<a href="{ReblogParentURL}">via {ReblogParentName}</a>
					<a class="flright" href="{ReblogRootURL}">from {ReblogRootName}</a>
				</div>
			{/block:RebloggedFrom}
			{block:Title}
				<h1>{Title}</a></h1>
			{/block:Title}

			<ul class="chat">
				{block:Lines}
					<li class="{Alt} user_{UserNumber}">
						{block:Label}
							<span class="label">{Label}</span>
						{/block:Label}{Line}
					</li>
				{/block:Lines}
			</ul>
			<div class="post-bottom">
				<div class="tags">

					{block:Tags}<a href="{TagURL}">#{Tag}</a>{/block:Tags}
				</div>
				<div class="actions">
					{LikeButton color="grey"}
					{ReblogButton color="grey"}
				</div>
			</div>
		</div>
	{/block:Chat}{block:Video}
		<div class="post video">
			<a class="permalink" href="{Permalink}"></a>
			{block:RebloggedFrom}
				<div class="refrom">
					<a href="{ReblogParentURL}">via {ReblogParentName}</a>
					<a class="flright" href="{ReblogRootURL}">from {ReblogRootName}</a>
				</div>
			{/block:RebloggedFrom}
			{Video-500}{block:Caption}
				<div class="caption">{Caption}</div>
			{/block:Caption}
			<div class="post-bottom">
				<div class="tags">

					{block:Tags}<a href="{TagURL}">#{Tag}</a>{/block:Tags}
				</div>
				<div class="actions">
					{LikeButton color="grey"}
					{ReblogButton color="grey"}
				</div>
			</div>
		</div>
	{/block:Video}{block:Audio}
		<div class="post audio">
			<a class="permalink" href="{Permalink}"></a>
			{block:RebloggedFrom}
				<div class="refrom">
					<a href="{ReblogParentURL}">via {ReblogParentName}</a>
					<a class="flright" href="{ReblogRootURL}">from {ReblogRootName}</a>
				</div>
			{/block:RebloggedFrom}
			{AudioEmbed}{block:Caption}
				<div class="caption">{Caption}</div>
			{/block:Caption}
			<div class="post-bottom">
				<div class="tags">

					{block:Tags}<a href="{TagURL}">#{Tag}</a>{/block:Tags}
				</div>
				<div class="actions">
					{LikeButton color="grey"}
					{ReblogButton color="grey"}
				</div>
			</div>
		</div>
	{/block:Audio}
{/block:Posts}
{block:Pagination}
	<div class="pagination">
		{block:PreviousPage}
			<a class="leftpag" href="{PreviousPage}">NEWER</a>
		{/block:PreviousPage}
		{block:NextPage}
			<a class="rightpag" href="{NextPage}">OLDER</a>
		{/block:NextPage}
	</div>
{/block:Pagination}
{block:PermalinkPagination}
	<div class="pagination">
		{block:PreviousPost}
			<a class="leftpag" href="{PreviousPost}">NEWER</a>
		{/block:PreviousPost}
		{block:NextPost}
			<a class="rightpag" href="{NextPost}">OLDER</a>
		{/block:NextPost}
	</div>
{/block:PermalinkPagination}
