* { box-sizing: border-box; }
body {
  color: #222;
  background: #ebebeb;
  font-family: sans-serif;
  margin: 5em;
}
.colour {
  width: 150px;
  height: 70px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #222;
  margin: 1em;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1em;
  cursor: pointer;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.panel {
  display: flex;
}
#scramble {
  padding: 10px;
  background: #333;
  border: 1px solid #222;
  border-radius: 5px;
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  width: 150px;
  cursor: pointer;
  margin: 1em;
}
