<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>nova</title>
    <link rel="shortcut icon" href="{Favicon}">
    <link rel="stylesheet" href="https://furrz.gitlab.io/css/style.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <link href="https://fonts.googleapis.com/css?family=Athiti|Ubuntu+Mono" rel="stylesheet">
    {block:Description}
			<meta name="description" content="{MetaDescription}" />
		{/block:Description}
  </head>
  <body>
    <header>
      <div class="page-title">
        <a href="http://furrz.tumblr.com">
          <img class="avatar"
               src="https://api.tumblr.com/v2/blog/furrz.tumblr.com/avatar"/>
        </a>
        <div class="text">nova</div>
      </div>
      <nav>
        <a href="http://furrz.gitlab.io/">home</a>
        <a href="http://furrz.gitlab.io/about">about</a>
        <a href="http://furrz.tumblr.com" class="current">blog</a>
        <a href="http://furcock.tumblr.com">nsfw</a>
      </nav>
    </header>
    <div class="articles">
      {{ content }}
    </div>
  </body>
</html>
