<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>nova</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Athiti|Ubuntu+Mono" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="page-title">
        <a href="http://furrz.tumblr.com">
          <img class="avatar"
               src="https://api.tumblr.com/v2/blog/furrz.tumblr.com/avatar"/>
        </a>
        <div class="text">nova</div>
      </div>
      <nav>
        <a href="/" class="current">home</a>
        <a href="/about">about</a>
        <a href="http://furrz.tumblr.com">blog</a>
        <a href="http://furcock.tumblr.com">nsfw</a>
      </nav>
    </header>
    <div class="articles">
			<div>{{ content }}</div>
    </div>
  </body>
</html>
